/* 상속 적용됨 */
body {
    font-family: Arial, sans-serif;
    color: navy;
}

/* 상속 적용 안 됨 */
body {
    background-color: lightgray;
}

/* color는 기본적으로 상속되지만 font-family는 일부 요소에서 강제로 상속 */
ul {
    font-family: inherit;
}

/* 부모(body)보다 우선 적용 */
span.highlighted {
    color: red;
}

/* 요소에 색상을 명시적으로 설정하여 상속을 막습니다 */
ul {
    color: black;
}

.container {
    font-size: 18px ;
}


